.Navigation {
  position: fixed;
  width: 250px;
  height: 100vh;
  left: 0;
  top: 0;

  background-color: rgba(255, 255, 255, 0.9);
  padding: 2em;
}

.Navigation > *:first-child {
  margin-top: 0;
}

.Navigation > div.category a {
  display: block;
}

.Navigation > div.category {
  margin: 2em 0;
}

.Navigation > div.category > *:first-child {
  margin-top: 0;
}
