.SourceCode {
  position: fixed;
  width: 20%;
  height: 100vh;
  right: 0;
  top: 0;

  background-color: transparent;

  overflow: scroll;
  opacity: 0.2;

  transition: opacity 0.3s, background-color 0.3s, width 0.3s;
}

.SourceCode:hover {
  width: 70%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.SourceCode > *:first-child {
  margin-top: 0;
}

.SourceCode a {
  display: block;
}
