.SourceCode {
  position: fixed;
  width: 70%;
  height: 100vh;
  right: -60%;
  top: 0;
  padding: 2em;

  background-color: transparent;

  overflow: scroll;
  opacity: 0.2;

  transition: opacity 0.3s, background-color 0.3s, right 0.2s;
}

.SourceCode:hover {
  right: 0px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.9);
}

.SourceCode > *:first-child {
  margin-top: 0;
}
